;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/jaagr/polybar
;
;   The README contains a lot of information
;
;==========================================================

[colors]
background = #282828
foreground = #bdae93
background-alt = #FF0000
foreground-alt = #bdae93
line = #928374
primary = #bdae93
secondary = #bdae93
alert = #bd2c40

[bar/mainbar0]
inherit = bar/barbase
modules-left = workspace0
modules-center = taskbar0
[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t $SCRIPTPATH/workspaces.liquid
tail = true
[module/taskbar0]
type = custom/script
exec = ~/.config/leftwm/themes/gruvbox_polybar/taskbar.mjs 0 2>/dev/null
tail = true

[bar/mainbar1]
inherit = bar/barbase
modules-left = workspace1
modules-center = taskbar1
[module/workspace1]
type = custom/script
exec = leftwm-state -w 1 -t $SCRIPTPATH/workspaces.liquid
tail = true
[module/taskbar1]
type = custom/script
exec = ~/.config/leftwm/themes/gruvbox_polybar/taskbar.mjs 1 2>/dev/null
tail = true

[bar/mainbar2]
inherit = bar/barbase
modules-left = workspace2
[module/workspace2]
type = custom/script
exec = leftwm-state -w 2 -t $SCRIPTPATH/workspaces.liquid
tail = true

[bar/mainbar3]
inherit = bar/barbase
modules-left = workspace3
[module/workspace3]
type = custom/script
exec = leftwm-state -w 3 -t $SCRIPTPATH/workspaces.liquid
tail = true


[bar/barbase]
width = ${env:width}
offset-x = ${env:offsetx}
monitor = ${env:monitor}
height = 30
bottom=true
fixed-center = true
background = ${colors.background}
foreground = ${colors.foreground}
line-size = 4
line-color = ${colors.line}
border-size = 0
border-color = #00000000
padding-left = 0
padding-right = 2
module-margin-left = 1
module-margin-right = 2
font-0 = monospace:size=11:weight=bold:antialias=true;2
modules-right = mic pulseaudio memory cpu eth date
tray-position = right
tray-padding = 2
cursor-click = pointer
cursor-scroll = ns-resize

[module/mic]
type = custom/script
interval = 1
format = <label>
exec = pactl list sources | grep -A 10 $(pactl info | grep "Default Source" | cut -f3 -d" ") | grep -c "Mute: yes" > /dev/null && echo  || echo 
click-left = pactl set-source-mute @DEFAULT_SOURCE@ toggle

[module/filesystem]
type = internal/fs
interval = 25

mount-0 = /home

label-mounted = %{F#0a81f5}%mountpoint%%{F-}: %percentage_used%%
label-unmounted = %mountpoint% not mounted
label-unmounted-foreground = ${colors.foreground-alt}

[module/cpu]
type = internal/cpu
interval = 10
format-prefix = " "
format-prefix-foreground = ${colors.foreground-alt}
label = %percentage:2%%

[module/memory]
type = internal/memory
interval = 2
format-prefix = " "
format-prefix-foreground = ${colors.foreground-alt}
label = %percentage_used%%

[module/eth]
type = internal/network
interface = eno1
interval = 20.0
label-connected = %local_ip%
format-disconnected =

[module/date]
type = internal/date
date = %b %d %H:%M:%S

[module/pulseaudio]
type = internal/pulseaudio

format-volume = <label-volume>
label-volume = VOL %percentage%%
label-volume-foreground = ${root.foreground}

label-muted = VOL muted
label-muted-foreground = #F00

[settings]
screenchange-reload = true
